.login_container{
    min-height: 320px;
    width: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 16px;
    box-shadow: 5px 5px 30px #000000;
    margin:auto;
    margin-top: 60px;
    padding: 20px 40px;
    background-color: rgb(224, 224, 224);
}

.login_form{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.login_title{
    color:rgba(174, 37, 179, 0.76);
    margin-bottom: 18px;
    font-size: 40px;
    font-family: "Livvic",sans-serif;
}

.login_err_msg{
    font-family: "Livvic",sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgba(194, 2, 2, 0.822);
}

.login_label{
    color:#7e7e7e;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px;
    font-family: "Livvic",sans-serif;
}

.login_input{
    color:rgba(2, 0, 2, 0.76);
    outline: none;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 100%;
    font-size: 22px;
    padding: 5px 15px;
    font-family: "Livvic",sans-serif;
}

.login_btn_text{
    color:rgba(255, 255, 255, 0.795);
    font-size: 20px;
    font-weight: 700;
    font-family: "Livvic",sans-serif;
}

.login_btn{
    background-color:rgba(174, 37, 179, 0.76);
    height: 40px;
    width: 100%;
    border-radius:32px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 1px 1px 4px #000000;
    font-family: "Livvic",sans-serif;
}

.login_btn:hover{
    background-color:rgba(142, 33, 146, 0.644);
}

.login_btn:active{
    background-color:rgba(99, 14, 102, 0.712);
}


/*loader animation*/

.ball1,
.ball2,
.ball3 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: left;
    margin: 0 3px;
}

.ball1 {
    background-color: #ffffff;
    -webkit-animation: single1ball1anim 2s infinite linear;
    animation: single1ball1anim 2s infinite linear;
}

@-webkit-keyframes single1ball1anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    12.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5);
    }

    25%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes single1ball1anim {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    12.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5);
    }

    25%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.ball2 {
    background-color: #7e7e7e;
    -webkit-animation: single1ball2anim 2s infinite linear;
    animation: single1ball2anim 2s infinite linear;
}

@-webkit-keyframes single1ball2anim {

    0%,
    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    37.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }

    50%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes single1ball2anim {

    0%,
    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    37.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }

    50%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.ball3 {
    background-color: #000000;
    -webkit-animation: single1ball3anim 2s infinite linear;
    animation: single1ball3anim 2s infinite linear;
}

@-webkit-keyframes single1ball3anim {

    0%,
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    62.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }

    75%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes single1ball3anim {

    0%,
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    62.5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.5)
    }

    75%,
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}